* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #a3a9c4;
    --secondary-color: #19400f;
    --tertiary-color: #141921;
}

/* BODY STYLES START */
body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/* header styles start */
.header {
    margin-bottom: 10px;
    background-color: #9094ab;
    padding: 10px;
    border-bottom: solid 2px #19400f;
}

header h1 {
    padding-left: 10px;
    font-size: 45px;
    display: inline;
    margin: auto;
    line-height: 1.2;
    
}

.back-to-home {
    text-decoration: none;
    color: var(--secondary-color);
}

.back-to-home:hover {
    color: var(--tertiary-color);
}

header nav {
    display: inline;
    float: right;
    font-size: 25px;
    padding-top: 7px;
}

header nav ul li {
    display: inline;
    justify-content: space-between;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: lighter;
    padding-right: 5px;
    vertical-align: middle;
}

header nav ul li a:hover {
    font-weight: normal;
    font-style: italic;
    opacity: 0.5;
}
/* header styles end */

/* content styles start */
h2 {
    line-height: 1.5;
    margin-left: 20px;
    font-size: 30px;
    justify-content: left;
    border-bottom: solid 1px #19400f;
    padding: 10px;
    max-width: 25%;
}

h2:hover {
    font-style: italic;
}

/* about me section */
#about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about-me p {
    margin-left: 30px;
    margin-right: 50px;
    padding-right: 50px;
    padding-top: 20px;
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
}

.about-me img {
    width: 200px;
    float: right;
    max-width: 300px;
    max-height: 500px;
    margin-right: 75px;
}

.about-me p, .about-me img {
    float: left;
    display: inline;
    width: 40%;
}

/* previous projects section */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    height: 900px;
    padding: 20px;
    margin: 0 auto;
}

.project {
    width: 50%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    height: 250px;
}

.project-link {
    text-decoration: none;
    color: var(--secondary-color);
    max-width: 100%;
    display: inline-block;
    width: 100%;
    flex: 1;
    padding: 5px;
}

.project-link img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    overflow: hidden;
    display: block;
}

#run-buddy-container {
    width: 500px;
    height: 300px;
    position: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 75px;
}

.project-link img:hover {
    opacity: 0.5;
}

/* resume section */ 
.resume-doc {
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 700px;
    display: inline-block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* contact me section */
.contact-container {
    max-width: 100%;
    margin: 50px;
    height: 100px;
    width: 90%;
    vertical-align: middle;
    position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact p {
    position: center;
    font-size: 23px;
}

.contact a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 25px;
    line-height: 1.5;
    justify-content: space-around;
    margin-right: 25px;
}

.contact a:hover {
    opacity: 0.5;
}

.contact ul {
    list-style: none;
    display: flex;
}

/* footer section */
footer div {
    padding: 10px;
    font-size: 12px;
    background-color: #9094ab;
}

/* BODY STYLES END */

/* media queries for smaller laptop screens, tablets, and smaller */
@media screen and (max-width: 980px) {
    .resume-doc {
        width: 100%;
    }

    header ul {
        position: relative;
    }

    .about {
        font-size: 15px;
    }

    .about img {
        height: 40%;
        width: 70%;
    }
}

/* media queries for mid-size tablets and smaller */
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .header h1 {
        font-size: 25px;
    }

    .header nav {
        font-size: 18px;
    }

    .about p {
        position: center;
    }

    .about img {
        max-height: 100%;
    }
}

/* media queries for cell phone screens and smaller */
@media screen and (max-width: 575px) {
    header nav {
        display: inline;
        width: 100%;
    }

    h2 {
        width: 100%;
    }

    .project-container {
        flex-direction: column;
        width: 500px;
        flex-wrap: nowrap;
    }

    #run-buddy-container {
        margin-bottom: 20px;
    }

    .project-link img {
        width: 300px;
        height: 200px;
    }

    .resume-doc {
        width: 70%;
        height: 60%;
    }

    .contact-container {
        flex-direction: column;
        float: center;
    }

    .contact ul li {
        float: center;
    }
}